* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/*-----------banner style section start--------*/
.banner {
    background-image: url("../banner/banner3.png");
    position: relative;
    height: 810px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-description {
    max-width: 50%;
    right: 0;
    text-align: right;
    position: absolute;
    padding: 200px 120px;
}

.banner-header {
    line-height: 55px;
    color: #ffffff;
    font-weight: 700;
    font-size: 45px;
}

.banner-title {
    line-height: 20px;
    color: #ffffff;
    font-size: 12px;
    margin-top: 0;
    padding: 0 0 0 350px;
}

.btn {
    color: #005FAC;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 15px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
}

/*-----------banner section style end--------*/

/*-----------about section style start-------------*/
.person-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 50px;
    margin-bottom: 30px;
}

.person-image,
.person-details {
    width: 50%;
}

.person-header {
    color: #151414;
    font-size: 35px;
    font-weight: 700;
}

.person-title {
    color: #444343;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 200px 0 0;
}

.list-item {
    list-style: none;
    color: #444343;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.fa-solid {
    color: #16D887;
}

/*-----------about section style end-------------*/

/*-----------plan section style start-------------*/
.my-plan {
    padding: 30px 100px;
}

.plan-heading {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.plan-title {
    color: #151414;
    text-align: center;
    ;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.plan-desc {
    color: #737272;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
}

.mind-setup {
    background-image: url("../images/watch.png"),
    linear-gradient(90deg, #1d8ce7 0%, rgba(8, 153, 197, 0.952) 100%);
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 30px;
    max-width: 80%;
    margin: auto;
    height: 200px;
}
.mnd-header{
    color: #FFF;
    font-size: 35px;
    font-weight: 600;
}
.btn-mnd{
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border: none;
}
.footer-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background: #151414;
}
.footer-future{
    padding: 30px 0 0 0;
}
.footer-subscribe{
    padding: 0 40px 0 0;
}
.footer-header{
    color: #F8F8F8;
    font-size: 25px;
    font-weight: 600;
}
.footer-title{
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
}
small{
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    display: block;
}
.subscriber-header{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: -100px;
    
}
input[type="email"]{
    background: #151414;
    margin-top: -20px;
    border: 1px solid #fff;
    color: #F3F3F3;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 5px;
    margin-bottom: 10px;
}
button{
    border-radius: 8px;
    background: #005FAC;
    border: none;
    padding: 10px 20px;
    color: #fff;
}

/*-----------plan section style end-------------*/

/*-----------plan section style end-------------*/
/*-----------plan section style end-------------*/